# prevent directory listings
    Options -Indexes
    IndexIgnore */*
    # follow symbolic links
    Options FollowSymlinks
    RewriteEngine on
    RewriteRule ^admin(/.+)?$ backend/web/$1 [L,PT]
    RewriteRule ^apibase(/.+)?$ apibase/web/$1 [L,PT]
    RewriteRule ^api1(/.+)?$ api1/web/$1 [L,PT]
    RewriteRule ^(.+)?$ frontend/web/$1